<div class="row">
    <div class="col-md-12">
        <div class="alert alert-dark text-center">
            <h2>Welcome to Hogwarts</h2>
            <span>School of Witchcraft & Wizardry</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h3>Welcome to Hogwarts</h3>
                <span>School of Witchcraft & Wizardry</span>
            </div>
            <img src="/images/hogwarts-logo-v2.png" alt="profile" class="card-img-top" />
            <hr />
            <div class="card-body">
                Fill this in later. "/houses/index.erb"
            </div>
        </div><br />
    </div>

    <div class="col-md-6">
        <div class="card bg-light shadow">
            <div class="card-header"><h3>Recent Posts</h3></div>
            <div class="card-body">
                <% @posts.order(:id).reverse[0..9].each do |post| %>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%= post.title %></h4>
                            <p>By: <a href="/wizards/<%= post.wizard.slug %>"><%= post.wizard.username %></a><br />
                                <span style="color: #777;"><%= parse_timestamp post.timestamp %></span></p>
                            <p class="card-text"><%= post.content %></p>
                            <hr />
                            <form action="/posts/<%= current_wizard.id %>/upvote" method="POST">
                                <input type="hidden" name="post[id]" value="<%= post.id %>" />
                                <button type="submit" class="btn btn-outline-info btn-sm" <%= 'disabled' if post.upvotes.any?{|up| up.wizard == current_wizard} %>><%= post.upvotes.size %> Upvote<%= 's' if post.upvotes.size != 1 %></button> &nbsp; 
                                <a href="/posts/<%= post.id %>" class="btn btn-outline-primary btn-sm"><%= post.comments.size %> Comment<%= 's' if post.comments.size != 1 %></a>
                            </form>
                        </div>
                    </div><br />
                <% end %>
            </div>
        </div><br />
    </div>

    <div class="col-md-3">
        <% @houses.each do |house| %>
            <div class="card">
                <div class="card-header"><h2><a href="/houses/<%= house.slug %>"><%= house.name %></a></h2></div>
                <div class="card-body">
                    <p>Founder: <%= house.founder %></p>
                    <p>Head Master: <%= house.head_master %></p>
                    <p>House <%= house.name %> currently has <%= house.wizards.size %> wizards.</p>
                </div>
            </div><br />
        <% end %>
    </div>
</div>