
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-dark text-center"><h1><%= @house.name.upcase %></h1></div>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="card bg-light shadow">
            <div class="card-header"><h4>Recent Posts in House <%= @house.name %></h4></div>
            <div class="card-body">
                <% @house.posts.order(:timestamp).reverse.each do |post| %>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><%= post.title %></h3>
                            <p class="card-subtitle">By: <a href="/wizards/<%= post.wizard.slug %>"><%= post.wizard.username %></a><br />
                                <span style="color: #777;"><%= parse_timestamp post.timestamp %></span></p>
                            <br />
                            <p class="card-text"><%= post.content %></p>
                            <form action="/posts/<%= post.id %>/upvote" method="POST">
                                <button type="submit" class="btn btn-outline-info btn-sm" <%= 'disabled' if post.upvotes.any?{|up| up.wizard == current_wizard} %>><%= post.upvotes.size %> Upvote<%= 's' if post.upvotes.size != 1 %></button> &nbsp; 
                                <a href="/posts/<%= post.id %>" type="button" class="btn btn-outline-primary btn-sm"><%= post.comments.size %> Comment<%= 's' if post.comments.size != 1 %></a>
                            </form>
                        </div>
                    </div>
                    <br />
                <% end %>
            </div>
        </div><br />
    </div>
    
    <div class="col-md-3">
        <div class="card">
            <h4 class="card-header"><%= @house.name %> Wizards (<%= @house.wizards.size %>)</h4>
            <div class="card-body">
                <ul>
                    <% @house.wizards.each do |wizard| %>
                        <li><a href="/wizards/<%= wizard.slug %>"><%= wizard.username %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>