
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-dark text-center"><h1><%= @house.name.upcase %></h1></div>
    </div>

    <div class="col-md-9">
        <div class="card bg-light shadow">
            <div class="card-header"><h4>Recent Posts in House <%= @house.name %></h4></div>
            <div class="card-body">
                <% @house.posts.order(:timestamp).reverse.each do |post| %>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><%= post.title %></h3>
                            <p class="card-subtitle">By: <a href="/wizards/<%= post.wizard.slug %>"><%= post.wizard.username %></a><br />
                                <span style="color: #777;"><%= parse_timestamp post.timestamp %></span></p>
                            <br />
                            <p class="card-text"><%= post.content %></p>
                            <p><%= post.upvotes.size %> Upvote<%= 's' if post.upvotes.size != 1 %> | <a href="/posts/<%= post.id %>"><%= post.comments.size %> Comment<%= 's' if post.comments.size != 1 %></a></p>
                        </div>
                    </div>
                    <br />
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card">
            <h4 class="card-header"><%= @house.name %> Wizards (<%= @house.wizards.size %>)</h4>
            <div class="card-body">
                <ul>
                    <% @house.wizards.each do |wizard| %>
                        <li><a href="/wizards/<%= wizard.slug %>"><%= wizard.username %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>