<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><div class="alert alert-dark text-center"><h1>Hogwarts Wands</h1></div></div>
    <div class="col-md-1"></div>

    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card sm-0">
            <h2 class="card-header text-center">Sort By</h2>
            <div class="card-body">
                <ul>
                    <li>Name</li>
                    <li>Price</li>
                </ul>
            </div>
        </div><br />

        <div class="card">
            <h2 class="card-header text-center">Cart</h2>
            <div class="card-body">
                Balance: <span class="float-right"><%= current_wizard.balance %> Sickles</span>
                <hr />
                <% if current_wizard.wand == nil %>
                    <div class="alert alert-primary text-center">
                        Hey, <%= current_wizard.name.split[0] %>! Looks like you could use a wand! Browse through our wands to find the perfect one for you!
                    </div>
                <% end %>
            </div>
        </div><br />
    </div>

    <div class="col-md-7">
        <% @wands.each do |wand| %>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="<%= wand.img_url %>" class="card-img" alt<%= wand.slug %>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <button class="btn btn-outline-info btn-sm float-right">Add to Cart</button>
                            <h5 class="card-title"><%= wand.name %></h5>
                            <p class="card-text">Price: <%= wand.price %> Sickles</p>
                        </div>
                    </div>
                </div>
            </div><br />
        <% end %>
    </div>
</div>