<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><div class="alert alert-dark text-center"><h1>Edit Profile</h1></div></div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <% if flash.has?(:message) %>
            <div class="alert alert-<%= flash[:alert_type] %> text-center"><%= flash[:message] %></div>
        <% end %>
        
        <form action="/wizards/edit" method="POST">
            <input type="hidden" name="_method" value="PATCH" />
            <label for="wizard[username]">Username</label>
            <input type="text" id="username" name="wizard[username]" value="<%= @wizard.username %>" class="form-control" /><br />

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="wizard[fname]" value="<%= @wizard.name.split[0] %>" class="form-control" /><br />

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="wizard[lname]" value="<%= @wizard.name.split[1] %>" class="form-control" /><br />

            <label for="wizard[email]">Email</label>
            <input type="text" id="wizard[email]" name="wizard[email]" value="<%= @wizard.email %>" class="form-control" /><br />

            <button type="submit" class="btn btn-warning btn-sm btn-block">Edit Profile</button>
        </form><br /><br />

        <form action="/wizards/<%= current_wizard.slug %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-block btn-outline-danger btn-sm">DELETE ACCOUNT</button>
        </form>
    </div>
</div>