<div class="row">
    <div class="col-md-12">
        <div class="alert alert-light text-center"><h1>Wizards Directory</h1></div>
    </div>

    
    <div class="col-md-12 table-responsive">
        <table class="table table-striped table-hover table-bordered table-condensed" style="background-color: #fff;">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>House</th>
            </tr>
            <% @wizards.each.with_index(1) do |wizard, index| %>
                <tr>
                    <td><%= index %></td>
                    <td><a href="/wizards/<%= wizard.slug %>"><%= wizard.name %></a></td>
                    <td><%= wizard.email %></td>
                    <td><a href="/houses/<%= wizard.house.slug %>"><%= wizard.house.name %></a></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>