<h1><small><a href="/houses">Home</a> < </small>Wizards Directory</h1>

<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>House</th>
    </tr>
    <% @wizards.each.with_index(1) do |wizard, index| %>
        <tr>
            <td><%= index %></td>
            <td><a href="/wizards/<%= wizard.slug %>"><%= wizard.name %></a></td>
            <td><%= wizard.email %></td>
            <td><a href="/houses/<%= wizard.house.slug %>"><%= wizard.house.name %></a></td>
        </tr>
    <% end %>
</table>