<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="alert alert-dark text-center"><h1>Wizards Directory (<%= @wizards.size %>)</h1></div>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <% if flash.has?(:message) %>
            <div class="alert alert-<%= flash[:alert_type] %> text-center" style="font-size: 20px;"><%= flash[:message] %></div>
        <% end %>

        <% @wizards.each do |wizard| %>
            <div class="media">
                <a href="/wizards/<%= wizard.slug %>"><img src="<%= wizard.img_url == nil ? '/images/hogwarts-logo-300x300.png' : wizard.img_url %>" alt="profile-img" class="mr-3 py-2" style="width: 64px;" /></a>
                <div class="media-body px-2">
                    <% if wizard != current_wizard %>
                        <% if !wizard.added_friends.include?(current_wizard) %>
                            <form action="/wizards/<%= wizard.slug %>/add_friend" method="POST">
                                <button type="submit" class="btn btn-outline-info btn-sm float-right">Add as Friend</button>
                            </form>
                        <% else %>
                            <form action="/wizards/<%= wizard.slug %>/remove_friend" method="POST">
                                <button class="btn btn-outline-danger btn-sm float-right">Unfriend</button>
                            </form>
                        <% end %>
                    <% end %>
                    <h2 class="mt-0"><a href="/wizards/<%= wizard.slug %>"><%= wizard.name %></a></h2>
                    <span> Name: <%= wizard.name %><br />
                        Email: <%= wizard.email %><br />
                        House: <a href="/houses/<%= wizard.house.slug %>"><%= wizard.house.name %></a><br />
                        Wand:   <% if wizard.wand == nil %>
                                    None
                                <% else %>
                                    <a href="/wands/<%= wizard.wand.slug %>"><%= wizard.wand.name %></a>
                                <% end %><br />
                        Friends: <%= wizard.friends.size + wizard.added_friends.size %>
                    </span>
                </div>
            </div><hr />
        <% end %>
    </div>
</div>