
<div class="row py-2">
    <div class="col-md-12">
        <div class="alert alert-dark text-center"><h1><%= @wizard.username.upcase %></h1></div>
    </div>
    <% if flash.has?(:message) %>
        <div class="col-md-12">
            <div class="alert alert-<%= flash[:alert_type]%> text-center"><%= flash[:message] %></div>
        </div>
    <% end %>

    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-header text-center"><h2><%= @wizard.name %></h2></div>
            <img src="<%= @wizard.img_url == nil ? '/images/hogwarts-logo-300x300.png' : @wizard.img_url %>" alt="profile" class="card-img-top p-2" />
            <div class="card-body table-responsive">
                <table class="table table-sm">
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Username:</td>
                        <td><%= @wizard.username %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Name:</td>
                        <td><%= @wizard.name %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Email:</td>
                        <td><%= @wizard.email %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Wand:</td>
                        <td><%= @wizard.wand == nil ? 'None' : @wizard.wand.name %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">House:</td>
                        <td><a href="/houses/<%= @wizard.house.slug %>"><%= @wizard.house.name %></a></td>
                    <tr>
                </table>
                
                <% if is_current_session? @wizard %>
                    <hr />
                    <a href="/wizards/<%= @wizard.slug %>/edit" class="btn btn-block btn-outline-secondary btn-sm">Edit Profile</a>
                    <br />
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-block btn-outline-danger btn-sm float-right">Logout</button>
                    </form>
                <% end %>
            </div>
        </div><br />
    </div>

    <div class="col-sm-6">
        <% if is_current_session? @wizard %>
            <div class="card shadow">
                <div class="card-header"><h3>Create a New Post</h3></div>
                <div class="card-body">
                    <form action="/posts" method="POST">
                        <input type="text" name="post[title]" placeholder="Post Title..." class="form-control" /><br />
                        <textarea name="post[content]" rows="5" placeholder="Post Content..." class="form-control"></textarea><br />
                        <button class="btn btn-block btn-outline-secondary">Create Post</button>
                    </form>
                </div>
            </div><br />
        <% end %>

        <% if @wizard.posts.empty? %>
            <div class="alert alert-info text-center"><%= @wizard.username.upcase %> does not have any posts.</div>
        <% else %>
            <% @wizard.posts.order(:id).reverse[0..19].each do |post| %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= post.title %></h2>
                    </div>
                    <div class="card-body">
                        <span style="color: #777;"><%= parse_timestamp post.timestamp %></span></p>
                        <p class="card-text"><%= post.content %></p>
                        
                        <form action="/posts/<%= post.id %>/upvote" method="POST">
                            <button type="submit" class="btn btn-outline-info btn-sm" <%= 'disabled' if post.upvotes.any?{|up| up.wizard == current_wizard} %>><%= post.upvotes.size %> Upvote<%= 's' if post.upvotes.size != 1 %></button> &nbsp; 
                            <a href="/posts/<%= post.id %>" type="button" class="btn btn-outline-primary btn-sm"><%= post.comments.size %> Comment<%= 's' if post.comments.size != 1 %></a>
                            <% if is_current_session? @wizard %>
                                <a href="/posts/<%= post.id %>/edit" class="btn btn-outline-warning btn-sm float-right">Edit Post</a>
                            <% end %>
                        </form>

                    </div>
                </div><br />
            <% end %>
        <% end %>
    </div>

    <div class="col-md-3">
        <div class="card">
            <h4 class="card-header">Friends (<%= @all_friends.size %>)</h4>
            <div class="card-body">
                <% if !current_wizard.friends.include?(@wizard) && !is_current_session?(@wizard) %>
                    <form action="/wizards/<%= @wizard.slug %>/add_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-primary btn-sm">Add as Friend</button>
                    </form><br />
                <% end %>

                <% if current_wizard.friends.include?(@wizard) && !is_current_session?(@wizard) %>
                    <form action="/wizards/<%= @wizard.slug %>/remove_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-danger btn-sm">Unfriend</button>
                    </form><br />
                <% end %>

                <% if @all_friends.empty? %>
                    No friends
                <% else %>
                    <% @all_friends.sort_by(&:name).each do |friend| %>
                        <a href="/wizards/<%= friend.slug %>"><%= friend.name %></a><br />
                    <% end %>
                <% end %>
            </div>
        </div><br />

        <div class="card">
            <h4 class="card-header">Notifications</h4>
            <div class="card-body">
                <ul class="list-group">
                    
                    <% if !@wizard.posts.empty? %>
                        <% @wizard.posts.each do |post| %>
                            <% post_arr = [] %>
                            <% post.upvotes.order(:id).reverse.each do |upvote| %>
                                <% post_arr << upvote.wizard %>
                            <% end %>

                            <% if !post.upvotes.empty? %>
                                <li class="list-group-item">
                                    <p><a href="/posts/<%= post.id %>"><%= post.title %></a> received an upvote from</p>
                                    <% post_arr.each do |wizard| %>
                                        <% if wizard == post_arr[-1] %>
                                            <a href="/wizards/<%= wizard.slug %>"><%= wizard.name %></a>
                                        <% else %>
                                            <a href="/wizards/<%= wizard.slug %>"><%= wizard.name %></a>,
                                        <% end %>
                                    <% end %><br />
                                </li>
                            <% end %>
                        <% end %>
                    <% else %>
                        No notifications to display.
                    <% end %>
                </ul>
            </div>
        </div><br />

        <div class="card">
            <h4 class="card-header">Your Recent Upvotes</h4>
            <div class="card-body">
                <ul class="list-group">
                    <% if !@wizard.upvotes.empty? %>
                        <% @wizard.upvotes.order(:id).reverse[0..9].each do |upvote| %>
                            <li class="list-group-item"><a href="/posts/<%= upvote.post.id %>"><%= upvote.post.title %></a></li>
                        <% end %>
                    <% else %>
                        No upvoted posts to display.
                    <% end %>
                </ul>
            </div>
        </div><br />
    </div>
</div>
<br />
