<% if is_current_session? @wizard %>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-outline-danger btn-sm float-right">Logout</button>
    </form>
<% end %>

<% if flash.has?(:message) %>
    <div class="alert alert-<%= flash[:alert_type]%> text-center"><%= flash[:message] %></div>
<% end %>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header"><h3><%= @wizard.name %></h3></div>
            <img src="/images/hogwarts-logo-v2.png" alt="profile" class="card-img-top" />
            <div class="card-body">
                <p>House: <%= @wizard.house.name %></p>
                <p>Wand: <%= @wizard.wand != nil ? @wizard.wand.name : 'Does not own a wand' %></p>
                
                <% if is_current_session? @wizard %>
                    <hr />
                    <a href="/wizards/<%= @wizard.slug %>" class="btn btn-block btn-outline-secondary">Edit</a>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <% if is_current_session? @wizard %>
            <div class="card shadow">
                <div class="card-header"><h3>Create a New Post</h3></div>
                <div class="card-body">
                    <form action="/posts/<%= @wizard.slug %>/new" method="POST">
                        <input type="text" name="post[title]" placeholder="Post Title..." class="form-control" /><br />
                        <textarea name="post[content]" placeholder="Post Content..." class="form-control"></textarea><br />
                        <button class="btn btn-block btn-outline-secondary">Create Post</button>
                    </form>
                </div>
            </div><br />
        <% end %>
            
        </form>

        <% if @wizard.posts.empty? %>
            <div class="alert alert-secondary text-center"><%= @wizard.username.upcase %> does not have any posts.</div>
        <% else %>
            <% @wizard.posts.each do |post| %>
                <div class="card">
                    <div class="card-header"><h2><%= post.title %></h2></div>
                    <div class="card-body">
                        <p class="card-text"><%= post.content %></p>
                        
                        <hr />
                        <%= post.upvotes.size %> Upvote<%= 's' if post.upvotes.size != 1 %> | <a href="/posts/<%= post.id %>"><%= post.comments.size %> Comment<%= 's' if post.comments.size != 1 %></a>
                    </div>
                </div><br />
            <% end %>
        <% end %>
    </div>

    <div class="col-md-3">
        <div class="card">
            <h4 class="card-header">Friends (<%= @all_friends.size %>)</h4>
            <div class="card-body">
                <% if !current_wizard.friends.include?(@wizard) && !is_current_session?(@wizard) %>
                    <form action="/wizards/<%= @wizard.slug %>/add_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-primary btn-sm">Add as Friend</button>
                    </form><br />
                <% end %>

                <% if current_wizard.friends.include?(@wizard) && !is_current_session?(@wizard) %>
                    <form action="/wizards/<%= @wizard.slug %>/remove_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-danger btn-sm">Unfriend</button>
                    </form><br />
                <% end %>

                <% @all_friends.sort_by(&:name).each do |friend| %>
                    <p><a href="/wizards/<%= friend.slug %>"><%= friend.name %></a></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
<br />
