<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header"><h2><%= @post.title %></h2></div>
            <div class="card-body">
                <p class="card-text"><%= @post.content %></p>
                
                <h4><%= @post.upvotes.size %> Upvotes | <small>By: <a href="/wizards/<%= @post.wizard.slug %>"><%= @post.wizard.username %></a></small></h4>
                
                <hr />
                <form action="" method="POST">
                    <textarea name="" placeholder="<%= current_wizard.username.upcase %> says..." class="form-control" /></textarea><br />
                    <button type="submit" name="" class="btn btn-primary" />Add Comment</button>
                </form>

                <hr />
                <h4><%= @post.comments.size %> Comment<%= 's' if @post.comments.size != 1 %></h4>
                <% @post.comments.each do |comment| %>
                    <div class="media">
                        <img src="/images/hogwarts-logo-300x300.png" style="width: 64px;" alt="profile" class="align-self-start mr-3">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="/wizards/<%= comment.wizard.slug %>"><%= comment.wizard.username %></a> said:</h5>
                            <p><%= comment.content %></p>
                        </div>
                    </div>
                    <hr />
                    <br />
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-header text-center">About the Author</div>
            <img src="/images/hogwarts-logo-v2.png" alt="profile" class="card-img-top" />
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Username:</td>
                        <td><%= @post.wizard.username.upcase %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Name:</td>
                        <td><%= @post.wizard.name %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">House:</td>
                        <td><%= @post.wizard.house.name %></td>
                    <tr>
                </table>
                <% if !current_wizard.friends.include?(@post.wizard) %>
                    <form action="/wizards/<%= @post.wizard.slug %>/add_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @post.wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-primary btn-sm">Add as Friend</button>
                    </form>
                <% end %>
            </div>
        </div>
    </div>
</div>