<div class="row">
    <% if flash.has?(:message) %>
        <div class="col-md-12">
            <div class="alert alert-<%= flash[:alert_type] %> text-center"><%= flash[:message] %></div>
        </div>
    <% end %>

    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">
                <% if is_current_session? @post.wizard %>
                        <a href="/posts/<%= @post.id %>/edit" class="btn btn-outline-warning btn-sm float-right">Edit</a>
                <% end %>
                <div class="media">
                    <a href="/wizards/<%= @post.wizard.slug %>"><img src="<%= @post.wizard.img_url == nil ? '/images/hogwarts-logo-300x300.png' : @post.wizard.img_url %>" style="width: 64px;" alt="profile" class="align-self-start mr-3 py-2"></a>
                    <div class="media-body">
                        <h2 class="mt-0"><%= @post.title %></h2>
                        <h5 class="mt-0"><a href="/wizards/<%= @post.wizard.slug %>"><%= @post.wizard.username %></a></h5>
                        <span style="color: #777;"><%= parse_timestamp @post.timestamp %></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text"><%= @post.content %></p>
                
                <form action="/posts/<%= @post.id %>/upvote" method="POST">
                    <button type="submit" class="btn btn-outline-info btn-sm" <%= 'disabled' if @post.upvotes.any?{|up| up.wizard == current_wizard} %>><%= @post.upvotes.size %> Upvote<%= 's' if @post.upvotes.size != 1 %></button> &nbsp; 
                    <button type="button" class="btn btn-outline-primary btn-sm" disabled><%= @post.comments.size %> Comment<%= 's' if @post.comments.size != 1 %></button>
                </form>
                <hr />

                <form action="/comments/<%= @post.id %>/new" method="POST">
                    <textarea name="content" rows="5" placeholder="<%= current_wizard.username.upcase %> says..." class="form-control" /></textarea><br />
                    <button type="submit" class="btn btn-primary" />Add Comment</button>
                </form>

                <hr />
                <% @post.comments.each do |comment| %>
                    <div class="media">
                        <img src="<%= comment.wizard.img_url == nil ? '/images/hogwarts-logo-300x300.png' : comment.wizard.img_url %>" style="width: 64px;" alt="profile" class="align-self-start mr-3 py-1">
                        <div class="media-body">
                            <p class="mt-0">
                                <a href="/wizards/<%= comment.wizard.slug %>" style="font-size:18px;"><%= comment.wizard.username %></a><br />
                                <span style="color: #777;"><%= parse_timestamp comment.timestamp %></span>
                            </p>
                            <p><%= comment.content %></p>
                        </div>
                    </div>
                    <hr />
                    <br />
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card bg-light">
            <h4 class="card-header text-center">About the Author</h4>
            <img src="/images/hogwarts-logo-v2.png" alt="profile" class="card-img-top" />
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Username:</td>
                        <td><%= @post.wizard.username.upcase %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Name:</td>
                        <td><%= @post.wizard.name %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Email:</td>
                        <td><%= @post.wizard.email %></td>
                    <tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">House:</td>
                        <td><a href="/houses/<%= @post.wizard.house.slug %>"><%= @post.wizard.house.name %></a></td>
                    <tr>
                </table>
                <% if !current_wizard.friends.include?(@post.wizard) %>
                    <form action="/wizards/<%= @post.wizard.slug %>/add_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @post.wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-primary btn-sm">Add as Friend</button>
                    </form><br />
                <% else %>
                    <form action="/wizards/<%= @post.wizard.slug %>/remove_friend" method="POST">
                        <input type="hidden" name="friend_id" value="<%= @post.wizard.slug %>" />
                        <button type="submit" class="btn btn-block btn-outline-danger btn-sm">Unfriend</button>
                    </form><br />
                <% end %>
                <a href="/wizards/<%= @post.wizard.slug %>" class="btn btn-block btn-outline-info btn-sm">View Profile</a>
            </div>
        </div>
    </div>
</div>